{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo.jpg' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'acctsvcs' in request.path %}
              class="dropdown nav-item active mr-3"
            {% else %}
              class="dropdown nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="z-index: 99">Accounting Services <b class="caret"></b></a>
                <ul style="white-space: nowrap; z-index: 99" class="dropdown-menu text-capitalize" role="menu">
                <li><a href="{% url 'listing' 1 %}" class="nowrap">&nbsp;&nbsp;Small Business Accounting&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 2 %}">&nbsp;&nbsp;Incorporation Consulting&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 3 %}">&nbsp;&nbsp;QuickBooks Services&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 2 %}">&nbsp;&nbsp;Business and Financial Consulting&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 6 %}">&nbsp;&nbsp;Payroll Services&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 8 %}">&nbsp;&nbsp;Outsourced Accounting Bookkeeping&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 9 %}">&nbsp;&nbsp;Outsourced CFO Controllership&nbsp;&nbsp;</a></li>
                <li><a href="{% url 'listing' 10 %}">&nbsp;&nbsp;All Accounting Services&nbsp;&nbsp;</a></li>
                </ul>
              </li>
              <li
              {% if 'taxsvcs' in request.path %}
                class="dropdown nav-item active mr-3"
              {% else %}
                class="dropdown nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tax Services <b class="caret"></b></a>
                  <ul style="white-space: nowrap" class="dropdown-menu text-capitalize" role="menu">
                  <li><a href="{% url 'listing' 11 %}" class="nowrap">&nbsp;&nbsp;Tax Preparation&nbsp;&nbsp;</a></li>
                  <li><a href="{% url 'listing' 12 %}">&nbsp;&nbsp;Tax Planning&nbsp;&nbsp;</a></li>
                  <li><a href="{% url 'listing' 13 %}">&nbsp;&nbsp;BIR Problem Resolution&nbsp;&nbsp;</a></li>
                  <li><a href="{% url 'listing' 14 %}">&nbsp;&nbsp;All Tax Services&nbsp;&nbsp;</a></li>
                  </ul>
                </li>

          <li
          {% if 'aboutcpa' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'aboutcpa' 15 %}">About Us</a>
        </li>

        <li
        {% if 'contactus' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
      </li>

        </ul>

       <!-- <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'dashboard' %}">
               Welcome {{ user.username }} (Dashboard)</a>
            </li>
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        </ul>-->
      </div>
    </div>
  </nav>