{% extends 'base.html' %}

{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                
                <div class="card">
                    <div class="card-header bg-info text-white">
                            {% include 'partials/_alerts.html' %}
                        <h4><i class="fas fa-sign-in-alt"></i> Login</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token%}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <input type="submit" value="Login" class="btn btn-info btn-block btn-lg mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}