{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block content %}



{% include 'partials/_alerts.html' %}


<section id="Listing" class="font-csgd">
    <div class="container">
        <h2>Contact Us</h2>
    <div class="row">
 
        <div id="content" class="col-xs-12 col-md-9">
            <div class="row">
        <div class="col-md-8">
                <div id="googlemap" style="height:250px; width: 100%"></div>
        </div>

        <div class="col-md-4 mb-4">
            <p class="font-weight-bold mb-0">Address</p>
            <p class="mb-0">Block 8 Lot 7 Blue Cypress St.</p>
            <p class="mb-0">Don Bosco Compound, Mabiga</p>
            <p class="mb-0">Mabalacat, Pampanga 2010 Philippines</p>
            <p class="mb-0">&nbsp;</p>
            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-0">(0917)-326-4209</p>
            <p class="mb-0">(0918)-464-3487</p>
            <p class="mb-0">&nbsp;</p>
            <p class="mb-0 font-weight-bold">Email</p>
            <p class="mb-0">atengcris@yahoo.com</p>
        </div>
    </div>
        
    <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="firstname" class="sr-only">First Name</label>
                <input type="text" placeholder="First Name" name="firstname" id="first_name" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="lastname" class="sr-only">Last Name</label>
                <input type="text" placeholder="Last Name" name="lastname" id="lastname" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="phone" class="sr-only">Phone</label>
                <input type="text" placeholder="Telephone Number" name="phone" id="phone" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="email" class="sr-only">Email</label>
                <input type="email" placeholder="Email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="message" class="sr-only">Email</label>
                <textarea  name="message" id="message" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary mb-4">Submit</button>
        </form>
        </div><!--First column-->

        <div class="col-md-3">
            <div class="card">       
                <div class="card-body">
                    <h5>Get a FREE consultation!</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-comments text-secondary float-left mr-3"></i> Find out how we can serve you! Call (0917)-326-4209 or request a free consultation.
                        </li>
                    </ul>
                </div>
                <a class="btn bg-info text-white btn-lg" data-toggle="modal" data-target="#inquiryModal">Get Started</a>
            </div>
        </div>
    </div>
    </div>
</section>



{% endblock %}