{% extends 'base.html' %}

{% load humanize %}
{% block content %}


{% include 'partials/_alerts.html' %}

<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay bg-muted p-5">
                <h1 class="display-4 mb-4">
                    Property Searching Just Got So Easy
                </h1>
                <p class="lead">Enter search parameters then click on Submit form to find your property listings. </p>
                <div class="search">
                    <form action="{% url 'search'%}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="keywords" class="sr-only">Keywords</label>
                                <input type="text" name="keywords" id="keywords" class="form-control" placeholder="Keywords (pool, garage, etc)">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="city" class="sr-only">City</label>
                                <input type="text" name="city" id="city" class="form-control" placeholder="City">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state" class="sr-only">State</label>
                                <select name="state" class="form-control">
                                    <option selected="true" disabled>State (All)</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="bedrooms" class="sr-only">Bedrooms</label>
                                <select name="bedrooms" id="bedrooms" class="form-control">
                                    <option selected="true" disabled>Bedrooms (All)</option>
                                </select>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="price" class="sr-only">Price</label>
                                <select name="price" id="price" class="form-control">
                                    <option selected="true" disabled></option>
                                </select>
                            </div>     
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block mt-4">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<br>



<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3">Latest Listings</h3>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}
            <div class="col-md-4 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" >

                <div class="card-img-overlay">
                    <h2><span class="badge badge-secondary text-white">$ {{ listing.price | intcomma}}</span></h2>
                </div>
                <div class="card-body">
                    <div class="text-center listing-heading">
                        <h4 class="text-primary">{{ listing.title }}</h4>
                        <p><i class="fas fa-map-marker text-secondary"></i>
                            {{listing.city}}, {{listing.state}} {{listing.zipcode}}
                        </p>
                    </div>
                    <div class="row text-secondary py-2">
                        <div class="col-6">
                            <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}
                        </div>
                        <div class="col-6">
                            <i class="fas fa-car"></i>Garage: {{listing.garage}}
                        </div>
                    </div>
                    <div class="row text-secondary py-2">
                        <div class="col-6">
                            <i class="fas fa-bed"></i> Bedroom: {{listing.bedrooms}}
                        </div>
                        <div class="col-6">
                            <i class="fas fa-bath"></i> Bathroom: {{listing.bathrooms}}
                        </div>
                    </div>
                    <hr>
                    <div class="row text-secondary py-2">
                        <div class="col-12">
                            <i class="fas fa-user"></i> Realtor: {{listing.realtor}}
                        </div>
                    </div>
                    <div class="row text-secondary py-2">
                        <div class="col-12">
                            <i class="fas fa-clock"></i> List Date: {{listing.list_date | timesince}}
                        </div>
                    </div>
                    <hr>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>  
    </div>
</section>


<section id="services" class="py-5 badge-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h3>Consulting Services</h3>
                <p>NGRE prides itself in providing the best adive and guidance to its clients to ensure that they acquire the best property that perfectly meet their demands and desires.</p>

            </div>
            <div class="col-md-4">
                <i class="fas fa-building fa-4x mr-4"></i>
                <hr>
                <h3>Property Management</h3>
                <p>Managing your property in a way that would protect your interests is our first priority. We work hard to take care of your valuable investments.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-suitcase fa-4x mr-4"></i></i>
                <hr>
                <h3>Renting and Selling</h3>
                <p>We have a network of connections that give us the ability to find the best tenants for your property. We have a very extensive and effective screening process. And when you are ready to sell, we help you get the most money for your property.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}