{% extends 'base.html' %}

{% load humanize %}
{% block content %}


{% include 'partials/_alerts.html' %}

<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-3">
            <div class="overlay bg-transparent p-5">
                <h1 class="display-4 mb-4 text-danger font-italic font-weight-bold font-csgd">
                    Our company is dedicate to helping yours succeed.
                </h1>
                <p class="lead"></p>
                <!--<div class="search">
                    <form action="{% url 'search'%}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="keywords" class="sr-only">Keywords</label>
                                <input type="text" name="keywords" id="keywords" class="form-control" placeholder="Keywords (pool, garage, etc)">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="city" class="sr-only">City</label>
                                <input type="text" name="city" id="city" class="form-control" placeholder="City">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state" class="sr-only">State</label>
                                <select name="state" class="form-control">
                                    <option selected="true" disabled>State (All)</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="bedrooms" class="sr-only">Bedrooms</label>
                                <select name="bedrooms" id="bedrooms" class="form-control">
                                    <option selected="true" disabled>Bedrooms (All)</option>
                                </select>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="price" class="sr-only">Price</label>
                                <select name="price" id="price" class="form-control">
                                    <option selected="true" disabled></option>
                                </select>
                            </div>     
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block mt-4">Submit form</button>
                    </form>
                </div>-->
            </div>
        </div>
    </div>
</section>

<br>



<section id="listings" class="py-5 font-csgd">
    <div class="container">
        <h3 class="text-center mb-3">CPA Accounting Services</h3>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}
            <div class="col-md-4 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" >

                <div class="card-body">
                    <div class="listing-heading">
                        <h4 class="text-primary">{{ listing.title }}</h4>
                        <p>
                            {{listing.description}}
                        </p>
                    </div>
                    <hr>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-secondary">Read More</a>
                </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>  
    </div>
</section>


<section id="services" class="py-5 badge-secondary text-white" >
    <div class="container" >
        <div class="row text-center font-italic font-csgd">
            <div class="col-md-12">
                <i class="fa fa-suitcase fa-4x mr-4"></i></i>
                <hr>
                <h1>Experience, Expertise and Competence</h3>
                
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container font-csgd">
        <div class="row">
<div class="col-md-12 text-center py-3">
            <h2>Get a free consultation today!</h2>
            <p class="lead">Fill out the contact form below and one of our experienced staff will get in touch with you shortly.</p>
        </div>
        </div>
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
        <div class="row">
                <div class="col-md-4 px-0 mb-4">
                        <label for="phone">Name *</label>
                        <div class="input-group">
                        <input type="text" name="name" class="form-control" aria-label="Name">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                      </div>
            </div>
            <div class="col-md-4">
                            <label for="email">Email Address *</label>
                            <div class="input-group">
                            <input type="text" name="email" class="form-control" aria-label="Email Address">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                            </div>
                          </div>
                </div>
                <div class="col-md-4">
                        <label for="phone">Phone Number *</label>
                        <div class="input-group">
                        <input type="text" name="phone" class="form-control" aria-label="Phone Number">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <label for="message">Message *</label>
                            <div class="input-group">
                            <textarea cols="120" rows="7" type="text" name="message" class="form-control" aria-label="Message"></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-comment"></i></span>
                            </div>
                            </div>
                    </div>
                    </div>
                    </div>
                    <button type="submit" class="mx-auto btn btn-secondary  text-white my-4">Submit</button>
                     </form> 
         
    </div>  
</section>

{% endblock %}