{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block content %}

<section id="showcase-inner" class="py-3 text-white font-csgd">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">{{listing.title}}</h1>
        </div>
        </div>
    </div>
</section>

<section id="bc" class="py-3">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="{% url 'index' %}#listings">
                        <i class="fas fa-home"></i> Home
                </a>               
                </li>

                <li class="breadcrumb-item active">
                    {{listing.title}}
                </li>
            </ol>
        </nav>
    </div>
</section>

{% include 'partials/_alerts.html' %}


<section id="Listing" class="font-csgd">
    <div class="container">
        
    <div class="row">
 
        <div id="content" class="col-xs-12 col-md-9">
    

            <img style="float: left; margin-right: 15px; max-height: 250px; max-width:250px" src="{{ listing.photo_main.url  }}" alt="Accounting small businesses at Clark Global City">
            
            <p>{{ listing.address }}</p>
            <p>{{ listing.city }}</p>
            <p>{{ listing.state }}</p>
            
            <!--<p>Leverage the insights we've gained from years of experience working with all types of small business owners, call <strong>507-334-3302</strong> and <a href="consultation.htm">request a free consultation</a> now.</p>
            
            <ul>
            <li>Accounting for all types of small businesses</li>
            </ul>-->
               </div>

        <div class="col-md-3">
            <div class="card">       
                <div class="card-body">
                    <h5>Get a FREE consultation!</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-comments text-secondary float-left mr-3"></i> Find out how we can serve you! Call (0917)-326-4209 or request a free consultation.
                        </li>
                    </ul>
                </div>
                <a class="btn bg-info text-white btn-lg" data-toggle="modal" data-target="#inquiryModal">Get Started</a>
            </div>
        </div>
    </div>
    </div>
</section>


<div id="inquiryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">
                    Make An Inquiry
                </h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action=" {% url 'contact' %} " method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{listing.id}}">
                    <input type="hidden" name="user_id" value="0">
                    <div class="form-group">
                        <label for="address">Property:</label>
                        <input type="text" name="address" id="address" class="form-control" value="{{listing.address}}">
                    </div>
                    <div class="form-group"><label for="name">Name:</label><input type="text" name="name" id="name" class="form-control"></div>
                    <div class="form-group"><label for="email">Email:</label><input type="text" name="email" id="email" class="form-control"></div>
                    <div class="form-group"><label for="phone">Phone:</label><input type="text" name="phone" id="phone" class="form-control"></div>
                    <div class="form-group"><label for="message">Message:</label><textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea></div>
                    <button type="submit" class="btn btn-primary btn-block text-white">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}